body{
    padding: 0;
    margin: 0;
    background-color: rgb(228, 229, 231);
    box-sizing: border-box;
    
}
header{
    display: flex;
    justify-content: flex-end;
    
}
header ul{
    list-style: none;
}
header ul li{
    padding: 10px;
    float: left;
    font-size: 14px;
}
header ul li a{
    text-decoration: none;
}
header ul li button{
    background-color: rgb(87, 174, 250);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: -10px;
}

/*--*/
.main{
    position: relative;
    margin: 8%;
}
.main .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.main .search{
    justify-content: center;
    display: flex;
    position: relative;
}
.main .search input{
    width: 580px;
    height: 45px;
    border: 1px solid gray;
    outline: none;
    border-radius: 30px;
    background-color: rgb(222, 230, 241);
}
.main .icons{
    display: flex;
    top: 0;
}
.main .buttons{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .buttons button{
    display: flex;
    padding: 12px;
    height: 38px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(197, 198, 200);
    border: none;
    border-radius: 3px;
}
.main .buttons .b2{
    margin-left: 10px;
}
